@using OpenAlexNet;
<div class="row">
    <div class="col">
        <b>Display name: </b>
        <a href="@Work.Id" target="_blank">
            @Work.DisplayName
        </a>

        <text>&nbsp;</text>
        @Work.PublicationDate

        @if (Work.Doi is not null)
        {
            <text>&nbsp;</text>
            <a href="@Work.Doi" target="_blank">DOI</a>
        }
        <table class="table table-sm">
            <thead>
                <tr>
                    <td>Author</td>
                    <td>
                        Affiliations
                    </td>
                    <td>
                        Institutions
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Work.Authorships)
                {
                    var affiliationsTitle = string.Join("\n", @a.RawAffiliationStrings);
                    <tr>
                        <td>
                            <a href="@a.Author.Id" target="_blank">
                                @a.Author.DisplayName
                            </a>
                            @if (a.Author.Orcid is not null)
                            {
                                <text>&nbsp;</text>
                                <a href="@a.Author.Orcid" target="_blank">ORCID</a>
                            }
                        </td>
                        <td>
                            <span title="@affiliationsTitle">@a.RawAffiliationString</span>
                        </td>
                        <td>
                            @foreach (var i in a.Institutions)
                            {
                                <text>@i.DisplayName &nbsp;</text>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Work Work { get; set; } = null!;
}
